body{
	background-image: url('../images/fond3.jpg');
	background-size: 200%;
	overflow-x: hidden;
}

h1{
	margin: auto;
	color: rgb(96, 96, 96);
	margin-bottom: -10px;
	margin-top: 40px;
}

#formCo{
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 16%;
	margin-top: 200px;
	height: 300px;
	border-radius: 10px;
	background-color: rgb(153, 241, 251);
}


#logoCo{
	position: absolute;
	width: 300px;
	margin-left: 1%;
	margin-top: -90px;
}

#pseudo{
	margin-top: auto;
	margin-left: 50px;
	font-weight: bold;
}

#pseudo + input{
	margin-bottom: auto;
	width: 80%;
	margin: auto;
	margin-top: 0;
	height: 30px;
}


#password + input{
	margin-bottom: auto;
	width: 80%;
	margin: auto;
	margin-top:0;
	height: 30px;
}

#password{
	margin-left: 50px;
	font-weight: bold;
}
#erreur{
	margin-left: 44%;
	margin-top: 10px;
	color: red;
	font-weight: bold;
}

#valider{
	background-color: rgb(37, 64, 245);
	color: white;
	width: 40%;
	height: 30px;
	border-radius: 20px;
	outline: 0;
	margin-bottom: 30px;
	margin: auto;
	margin-top:0;
}

#sommaire{
	display: flex;
	margin: auto;
	margin-top: 300px;
}

#upArticles, #deleteArticles, #profil{
	width: 200px;
	height: 400px;
	border: 2px solid black;
	margin: auto;
}

#formArticle > h2{
	font-size: 4em;
	margin-top: -100px;
	margin-left: 25%;
}

#menu{
	position: absolute;
	border: 2px solid black;
	top: 30px;
	right: 50px;
	transition: transform 1.3s ease;
}

button:hover{
	cursor: pointer;
}

#formArticle{
	margin: auto;
	margin-top: 150px;
	width: 60%;
}

#addArticle{
	width: 300px;
	height: 300px;
	background-image: url('../images/article.png');
}

#allArticles{
	margin-left: 50px;
	width: 350px;
	height: 375px;
	background-image: url('../images/lire.png');
	background-size: 100%;
}

.menu{
	position: absolute;
	right: 0;
	top: 0;
	height: 99%;
	border: 5px solid black;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 1.6em;	 
}

.liensMenu{
	border: 2px solid white;
	border-radius: 20px;
	margin-top: 40px;
	padding: 5px;
	text-align: center;
}

.liensMenu:hover{
	cursor: pointer;
}

#accueil{
	margin-top: 150px;
}

.liensMenu a{
	color: white;
	text-decoration: none;
}