body{
	margin: 0;
	padding: 0;		
	background-attachment:fixed;	
	background-image: url('../images/livre.jpg');
	background-size: 100%;
}

.contenu{
	width: 75%;
	margin: auto;
}

header{
	position: fixed;
	margin: 0;
	padding: 0;	
	top: 0;
	z-index: 1;
}

#barNav{
	position: fixed;
	text-align: center;
	right: 25%;
	margin-top: 5px;
}

ul a{
	color: black;
}

nav{
	background-color: rgba(255, 255, 255, 0.7);
}

.contenuHeader{	
	margin: 0;
	padding: 0;
	position: relative;
	border: 3px solid black;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	height: 600px;
	text-align: center;
}

#titre{
	display: none;
	opacity: 0;
	width: 700px;
	margin-left: 230px;
	margin-top: 250px;
	position: absolute;
	padding: 0;
	padding-bottom: 5px;
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
}

#bg{
	height: 200px;
}

.descriptionAuteur{
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 15px;
	margin-bottom: 20px;
}

#portrait{
	float: left;
	width: 200px;
	margin-right: 20px;
}

#biog{
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 30px;
}

strong{
	font-weight: bold;
}